:root {
  --color--dark: #361999;
  --color--light: #78fff1;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  background-color: var(--color--light);
  background: linear-gradient(to top right, white, blue);
  height: 100vh;
  width: 100vw;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  color: white;
  justify-content: center;
  align-items: center;
}

.form__input-container {
  position: relative;
  margin-bottom: 32px;
}

form {
  background: linear-gradient(to left, blue, rgb(190, 109, 109));
  max-width: 300px;
  padding: 36px 24px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
}
input {
  width: 100%;
}

input,
button {
  background: linear-gradient(to left, blue, rgb(223, 162, 162));
  border: none;
  border-radius: 18px;
  box-shadow: 0px 8px 24px rgb(0, 0, 0, 0.7);
  color: white;
  padding: 12px 24px;
  font-size: 24px;
  transition: box-shadow 0.3s, outline 0.3s;
}

label {
  color: white;
  cursor: text;
  font-style: italic;
  left: 24px;
  opacity: 0.4;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition:
    left 0.3s,
    opacity 0.3s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  left: 200px;
  opacity: 0;
}

input:hover,
button:hover {
  box-shadow: 0px 8px 12px 0 rgba(255, 255, 255, 0.3);
}

input:focus,
button:focus {
  outline: solid 3px rgba(255, 255, 255, 0.3);
}


button {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

button:after
{   background: rgba(255, 255, 255, 0.5);
    content: "";
    display: block;
    height: 100px;
    left: -70px;
    top: -50%;
    width: 50px;
    transform: skewX(-15deg);
    position: absolute;
    transition: left 0.15s linear;
}

button:hover:after
{
    left: 110%;
}


.form__icon
{   border: solid 3px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0px 8px 24px 0 rgba(255, 255, 255, 0.3);
    height: 72px;
    margin: 0 auto 24px;
    overflow: hidden;
    position: relative;
    width: 72px;

}

.form__icon:after
{
  background: rgba(255, 255, 255, 0.6);
  top: 10px;
  border-radius: 50%;
  content: "";
  display: block;
  left: 50%;
  height: 24px;
  position: absolute;
  transform: translateX(-50%);
  width: 24px;
}

.form__icon:before
{
  background: rgba(255, 255, 255, 0.6);
  bottom: -15px;
  border-radius: 50%;
  content: "";
  display: block;
  left: 50%;
  height: 50px;
  position: absolute;
  transform: translateX(-50%);
  width: 50px;
}

.form__spacer
{
    height: 2px;
    background: rgba(255, 255, 255, 0.55);
    border-radius: 100%;
    margin: 0 auto 32px;
    width: 80%;
}

.bg
{
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
}

.bg__dot
{
    background: linear-gradient(
        to left,
        var(--color--light),
        rgba(255,255,255,0.3)
    );
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
}

.bg__dot:nth-child(1)
{
    height: 50vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 50vh;
}

.bg__dot:nth-child(2)
{
    height: 30vh;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 30vh;
}